*{
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}
:root{
    --light-color: #F6F3EB;
    --light-green: #d9dac8;
    --dark-green: #76886e;
    --dark-red: #7F2020;
    --profile-background-color: #9b1887;
    --profile-image-color: #098109;
    --sidebar-button-gap: 10px;
    --sidebar-button-font-size: 1em;
    --post-button-height: 1.5em;
    --post-button-font-size: 0.8em;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 175px 1fr;
    align-content: flex-end;
    height: 100vh;
}
.sidebar{
    min-width: 100px;
    grid-row: 1/3;
    background-color: var(--dark-green);
}
.title-logo{
    display:grid;
    grid-template-columns: 30px 1fr;
    gap: 5px;
    color: var(--light-color);
    padding: 5px;
}
.title-logo svg{
    width: 30px;
    fill: var(--light-color);
}
.title{
    font-size: 1.3em;
    font-weight: bold;
}
.main-buttons{
    display: grid;
    gap: var(--sidebar-button-gap);
    padding-top: 40px;
}
.tool-buttons{
    display: grid;
    gap: var(--sidebar-button-gap);
    padding-top: 40px;
    
}
.main-buttons button,.tool-buttons button{
    font-size: var(--sidebar-button-font-size);
    font-weight: bold;
    color: var(--light-color);
    text-align: left;
    padding: 5px 0px 5px 20px;
    background-color: transparent;
    border: none;


}
.main-buttons button:hover, .main-buttons button:active,
.tool-buttons button:hover,.tool-buttons button:active,
.search-bar-button:hover,.search-bar-button:active,
.notif-button:hover,.notif-button:active{
    background-color: var(--dark-red);
    fill: var(--light-color);
    cursor: pointer;
}
.main-buttons button>svg,
.tool-buttons button>svg{
    height: var(--sidebar-button-font-size);
    width: var(--sidebar-button-font-size);
    fill: var(--light-color);
    padding-right: 10px;
    vertical-align:text-bottom;
}

.header{
    background-color: var(--light-color);
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr;
    box-shadow: 1px 5px 10px var(--dark-green) ;
    z-index: 1;
}
.search-bar-section{
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px;
    padding: 20px 40px;
    align-items: center;
}
.search-bar{
    margin-right: 80px;
    background-color: var(--light-green);
    border: none;
    border-radius: 20px;
    height: 1.8em;
}
.search-bar-button{
    display: grid;
    place-items: center;
    border: none;
    background-color: var(--light-color);
    height: 25px;
    border-radius: 5px;
}
.search-bar-button svg{
    height: 15px;
    width: 15px;

}
.profile{
    display: grid;
    grid-template-columns: 25px 50px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 10px;

}
.notif-button{
    background-color: var(--light-color);
    border: none;
    height: 25px;
    border-radius: 5px;
    display: grid;
    place-items: center;
}
.notif-button svg{
    width: 15px;
}
.profile-image-background svg{
    width: 20px;
    height: 25px;
    fill: var(--profile-image-color);

}
.profile-name{
    
    line-height: 30px;
    
}
.profile-image-background{

    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--profile-background-color);
    display: grid;
    place-content: center;
    justify-self: flex-end;
}
.welcome-message{
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 1fr;

}
.welcome-message-image-background{
    grid-row: 1/3;
    place-self: center;
    display: grid;
    place-content: center;
    width: 80%;
    height: 60px;
    border-radius: 50px;
    background-color: var(--profile-background-color);
}
.welcome-message-image-background svg{
    width: 70%;
    /* centers the image within the background */
    margin: auto;
    fill: var(--profile-image-color);

}
.welcome-hi{
    align-self: flex-end;
}
.welcome-name{
    font-size: 1.4em;
}
.posting-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    align-content: center;
}
.new-post-button,.upload-post-button, .share-post-button{
    height: var(--post-button-height);
    font-size: var(--post-button-font-size);
    border: none;
    border-radius: 15px;
    background-color: var(--dark-green);
    color: var(--light-color);
    font-weight: bold;
}
.body{
    background-color: var(--light-green);
}