*{
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}
:root{
    --light-color: #F6F3EB;
    --light-green: #d9dac8;
    --dark-green: #76886e;
    --dark-red: #7F2020;
    --button-gap: 10px;
    --button-font-size: 1em;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    align-content: flex-end;
    height: 100vh;
}
.sidebar{
    min-width: 100px;
    grid-row: 1/3;
    background-color: var(--dark-green);
}
.title-logo{
    display:grid;
    grid-template-columns: 30px 1fr;
    gap: 5px;
    color: var(--light-color);
    padding: 5px;
}
.title-logo svg{
    width: 30px;
    fill: var(--light-color);
}
.title{
    font-size: 1.3em;
    font-weight: bold;
}
.main-buttons{
    display: grid;
    gap: var(--button-gap);
    padding-top: 40px;
}
.tool-buttons{
    display: grid;
    gap: var(--button-gap);
    padding-top: 40px;
    
}
.main-buttons button,.tool-buttons button{
    font-size: var(--button-font-size);
    font-weight: bold;
    color: var(--light-color);
    text-align: left;
    padding: 5px 0px 5px 20px;
    background-color: transparent;
    border: none;


}
.main-buttons button:hover, .main-buttons button:active,
.tool-buttons button:hover,.tool-buttons button:active,
.notif-button:hover,.notif-button:active{
    background-color: var(--dark-red);
    fill: var(--light-color);
}
.main-buttons button>svg,
.tool-buttons button>svg{
    height: var(--button-font-size);
    width: var(--button-font-size);
    fill: var(--light-color);
    padding-right: 10px;
    vertical-align:text-bottom;
}

.header{
    background-color: var(--light-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    box-shadow: 1px 5px 10px var(--dark-green) ;
    z-index: 1;
}
.search-bar-section{
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px;
    padding: 20px 40px;
}
.search-bar{
    margin-right: 80px;
    background-color: var(--light-green);
    border: none;
    border-radius: 20px;
}
.search-bar-button{
    display: grid;
    border: none;
    background-color: var(--light-color);
}
.profile{
    display: grid;
    grid-template-columns: 30px 50px 1fr;
    grid-template-rows: 30px;
    align-content: center;
    gap: 10px;

}
.profile button{
}
.notif-button{
    background-color: var(--light-color);
    border: none;
}
.notif-button svg{
    width: 20px;
}
.profile img{
    width: 30px;
    height: 30px;
    justify-self: flex-end;

}
.profile-name{
    
    line-height: 30px;
}
.welcome-message{

}
.posting-buttons{

}
.body{
 background-color: var(--light-green);
}