*{
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}
:root{
    --light-color: #F6F3EB;
    --light-green: #C9CAAC;
    --dark-green: #869B7E;
    --dark-red: #7F2020;
    --button-gap: 10px;
    --button-font-size: 1em;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    align-content: flex-end;
    height: 100vh;
}
.sidebar{
    min-width: 100px;
    grid-row: 1/3;
    background-color: var(--dark-green);
}
.title-logo{
    display:grid;
    grid-template-columns: 30px 1fr;
    gap: 5px;
    color: var(--light-color);
    padding: 5px;
}
.title-logo svg{
    width: 30px;
    fill: var(--light-color);
}
.title{
    font-size: 1.3em;
    font-weight: bold;
}
.main-buttons{
    display: grid;
    gap: var(--button-gap);
    padding-top: 50px;
}
.tool-buttons{
    display: grid;
    gap: var(--button-gap);
    padding-top: 100px;
    
}
.main-buttons button,.tool-buttons button{
    font-size: var(--button-font-size);
    font-weight: bold;
    color: var(--light-color);
    text-align: left;
    padding: 5px 0px 5px 20px;
    background-color: transparent;
    border: none;


}
.main-buttons button:hover, .main-buttons button:active,
.tool-buttons button:hover,.tool-buttons button:active{
    background-color: var(--dark-red);
    
}
button>svg{
    height: var(--button-font-size);
    width: var(--button-font-size);
    fill: var(--light-color);
    padding-right: 10px;
    vertical-align:text-bottom;
}
.header{
    
}
.body{

}